__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cl
*.egg-info/
build/
dist/
outputs/
runs/
wandb/
test/
tests/_artifacts/
logs/
docs/_build/

*.pth
*.pt
*.ckpt
*.safetensors
*.ply
*.bin
*.npy
*.npz
*.png
*.jpg
*.jpeg
*.tiff
*.exr
