[submodule "third_party/SegAnyGAussians"]
	path = third_party/SegAnyGAussians
	url = /disk3/ydz/code/HPS3DGS-repositories/SegAnyGAussians.git
[submodule "third_party/HAC"]
	path = third_party/HAC
	url = /disk3/ydz/code/HPS3DGS-repositories/HAC.git
[submodule "third_party/HAC-plus"]
	path = third_party/HAC-plus
	url = /disk3/ydz/code/HPS3DGS-repositories/HAC-plus.git
